@import 'normalize.css';
@import url('https://use.typekit.net/waz4tsx.css');

:root {


    //Default layout
    --default-layout-header-height: 60px;
    --default-layout-header-width: 1150px;
}

* {
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body {
    font-family: ibm-plex-sans, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-top: 0;
}

